<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="../js/sockjs.min.js"></script>
    <script src="../js/stomp.js"></script>
    <script src="../js/jquery-3.1.1.js"></script>
</head>
<body>
<blockquote class="layui-elem-quote">主页</blockquote>

<div id="main-content" class="container">
    <div class="row">
        <a href="/wmall/chatService/chatOne" class="btn-primary">Customer One</a>
        <a href="/wmall/chatService/chatTwo" class="btn-primary">Customer Two</a>
        <a href="/wmall/chatService/broadcast" class="btn-primary">BroadCast广播消息</a>
    </div>
</div>

</body>
</html>