<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>

<div id="main-content" class="container">
    <h1>企业微信</h1>
    <div class="row">
        <h2 th:text="'企业微信ID:'+${corpId}">企业微信ID：IN+</h2>
        <h2 th:text="'应用ID:'+${agentId}">应用ID：IN+</h2>
    </div>
</div>

</body>
</html>